body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}
* {
    box-sizing: border-box;
  }
  .column {
    float: left;
    padding: 10px;
    
  }
  .left {
    padding-left:13em;
    width: 80%;
    background-color:#283061;
  }
  .right {
    width: 20%;
    background-color:#283061;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .loginboxx {
    width: 100%;
    height: 30em;
    background-color:#495394;
    padding: 10px;
    margin-top:10em;
    color: white;
  }
.loginbox {
    width: 30%;
    height: 30em;
    background-color:#495394;
    padding: 10px;
    margin: auto;
    color: white;
  }
  form {
    background-color: white;
    color: black;
    width: 90%;
    margin:auto;
  }
  input[type=text], input[type=password], input[type=file] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  .button {
    background-color:#283061;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  .container {
    padding: 16px;
  }
  
  .box {
    float: left;
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom:15px;
    height: 50px;
    text-align:center;
  }

  .behind{
    background-color: #283061;
  }

  .navbar{
    margin-left: 12em;
    margin-right:11.5em;
  }
  
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #283061;
}
li{
  float: left;
  width: 14em;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color:#6f7dda;
  
}
.left3 {
  width: 55%;
  margin-left:12em;
  padding-top: 2em;
  height:100em;
}

.right3 {
  width: 20%;
  padding-top: 3em;
}

.ulprof {
  list-style-type: none;
  margin: auto;
  padding: 0;
  width: 250px;
  background-color: #ffffff;
}

.liprof a {
  display: block;
  color: #000;
  width: 250px;
  text-decoration: none;
}

/* Change the link color on hover */
.liprof a:hover {
  background-color: #555;
  color: white;
}

.liactive{
  display: block;
  color: white;
  width: 250px;
  padding: 13px;
  text-decoration: none;
  background-color: #283061;
  text-align: center;
}
.boxborder{
  border: 3px solid #f1f1f1;
  background-color: white;
  color: black;
  width: 90%;
  margin:auto;
  padding: 20px;
}
textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  font-size: 16px;
  resize: none;
  color:rgb(0, 0, 0);
}
table {
  border-collapse: collapse;
  width: 50%;
}

th {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  width: 20px;
}

td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.buttonDelete {
  background-color: #2e2974;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 50%;
}